# Análise de Sentimentos - Dependências Essenciais

# Manipulação de dados
pandas
numpy

# Machine Learning
scikit-learn

# Processamento de Linguagem Natural
nltk

# Visualização
matplotlib
seaborn

# Jupyter Notebooks
jupyter

# Hugging Face
datasets             # Para Hugging Face Datasets
transformers         # Para modelos SOTA (Hugging Face)

# Deep Learning
torch                # Backend para Transformers

# Utilidades
tqdm                 # Barras de progresso
wordcloud            # Nuvens de palavras

